body{
	background-image: url("../img/space2.gif");
	background-size: 100%;
	font-family: 'Roboto', sans-serif;
}

main .links-sociales{
	list-style: none;
	margin: 0;
	padding: 0;
} 

main .links-sociales li{
	border-top: 1px solid black;
}

main .links-sociales li:last-child a{
	border-radius: 0 0 5px 5px;
}

main .links-sociales li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: white;
	transition: padding-left .5s ease;
}

main .links-sociales li a:hover{
	background-color: purple;
	padding-left: 25px;
}

main .links-sociales li a img {
	vertical-align: middle;
	margin-right: 10px;
}